@import url("@jarl/theme/index.css");

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  background-color: light-dark(var(--jarl-colors-white), var(--jarl-colors-black));
  scroll-behavior: smooth;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: calc(var(--jarl-header-height) + 1.5rem);

  .anchor {
    display: inline;
    margin-left: 0.5rem;
    color: inherit;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s;

    &:focus-visible {
      opacity: 1;
    }
  }

  &:hover {
    .anchor {
      opacity: 1;
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  padding-block-end: 0.5rem;
  border-bottom: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));
}

a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: light-dark(var(--jarl-colors-gray-500), var(--jarl-colors-gray-300));
  text-decoration: none;

  &:focus-visible {
    outline-offset: 2px;
  }

  &:hover {
    color: light-dark(var(--jarl-colors-gray-600), var(--jarl-colors-gray-200));
  }

  &:active {
    color: light-dark(var(--jarl-colors-gray-700), var(--jarl-colors-gray-100));
  }
}

figure[data-rehype-pretty-code-figure] {
  margin: 1.5rem 0;
  overflow: hidden;

  pre {
    padding-block: 1rem;
    margin: 0;
    overflow-x: auto;
    background-color: light-dark(var(--jarl-colors-gray-50), var(--jarl-colors-gray-900));
    border: 1px solid light-dark(var(--jarl-colors-gray-200), var(--jarl-colors-gray-500));
    border-radius: 0.5rem;

    span {
      font-size: 0.875rem;
      color: light-dark(var(--shiki-light), var(--shiki-dark));

      &[data-line] {
        padding-inline: 1rem;
        line-height: 1.25rem;
      }
    }
  }
}
