@import url("@jarl/theme/tokens.css");

html.light .jarl-checkbox,
html[data-theme="light"] .jarl-checkbox {
  --jarl-checkbox-label-color: #111;
  --jarl-checkbox-label-hover-color: #111;
  --jarl-checkbox-label-checked-color: #111;
  --jarl-checkbox-checkmark-color: #fff;
  --jarl-checkbox-checkmark-border-color: #111;
  --jarl-checkbox-checkmark-checked-bg: #111;
  --jarl-checkbox-checkmark-checked-border-color: #111;
  --jarl-checkbox-checkmark-hover-color: #111;
  --jarl-checkbox-focus-outline-color: #111;
}

html.dark .jarl-checkbox,
html[data-theme="dark"] .jarl-checkbox {
  --jarl-checkbox-label-color: #eee;
  --jarl-checkbox-label-hover-color: #eee;
  --jarl-checkbox-label-checked-color: #eee;
  --jarl-checkbox-checkmark-color: #111;
  --jarl-checkbox-checkmark-border-color: #eee;
  --jarl-checkbox-checkmark-checked-bg: #eee;
  --jarl-checkbox-checkmark-checked-border-color: #eee;
  --jarl-checkbox-checkmark-hover-color: #eee;
  --jarl-checkbox-focus-outline-color: #eee;
}
