.main-content {
  flex-grow: 1;
  padding-block: 24px;
  padding-inline: 24px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .main-content {
    max-width: 1024px;
    padding-inline: 60px;
  }
}
