.footer {
  padding: calc(0.25rem * 3);

  .footer-paragraph {
    font-size: calc(0.25rem * 3);

    .footer-text {
      gap: 0.25rem;

      .heart-icon {
        fill: var(--jarl-colors-red-400);
        height: calc(0.25rem * 4);
        width: calc(0.25rem * 4);
      }
    }
  }
}
