.footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 12px;
  width: 100%;

  .footer-paragraph {
    font-size: 12px;
    margin: 0;

    .footer-text {
      align-items: center;
      display: inline-flex;
      gap: 0.15rem;

      .heart-icon {
        fill: #F64437;
        height: 12px;
        width: 12px;
      }
    }
  }
}
