.footer {
  padding: calc(var(--x-spacing) * 3);

  .footer-paragraph {
    font-size: calc(var(--x-spacing) * 3);

    .footer-text {
      gap: var(--x-spacing);

      .heart-icon {
        fill: var(--x-color-red-500);
        height: calc(var(--x-spacing) * 4);
        width: calc(var(--x-spacing) * 4);
      }
    }
  }
}
