:root {
  --jarl-header-height: 64px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 101;
  height: var(--jarl-header-height);
  background-color: light-dark(var(--jarl-colors-gray-50), var(--jarl-colors-gray-950));
  border-bottom: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));
}

.header-navbar {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  min-height: 60px;
  padding: 0 24px;
  margin: 0 auto;

  .logo-container {
    margin-inline-end: auto;
  }

  .anchor {
    font-size: 14px;

    &:has(.github-icon) {
      color: light-dark(var(--jarl-colors-gray-700), var(--jarl-colors-gray-300));

      &:hover,
      &:active {
        color: light-dark(var(--jarl-colors-black), var(--jarl-colors-gray-100));
      }
    }
  }

  .github-icon {
    stroke: currentColor;
  }

  .theme-switch {
    --jarl-button-border-color: transparent;
    --jarl-button-bg: transparent;
    --jarl-button-py: 0;
    --jarl-button-px: 0;
    --jarl-button-color: light-dark(var(--jarl-colors-gray-700), var(--jarl-colors-gray-300));
    width: 30px;

    height: 30px;

    &.loading {
      &::after {
        position: absolute;
        inset: 0;
        content: "";
        background: linear-gradient(90deg, transparent, var(--jarl-colors-gray-100), transparent);
        transform: translateX(-100%);
        animation: 750ms loading ease-out infinite;
      }
    }

    .switch-icon {
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes loading {
  to {
    transform: translateX(100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    .themeSwitch {
      --jarl-button-color: var(--jarl-colors-gray-300);
      --jarl-button-hover-bg: var(--jarl-colors-gray-900);
      --jarl-button-hover-color: var(--jarl-colors-gray-200);
      --jarl-button-active-color: var(--jarl-colors-gray-200);
      --jarl-button-active-bg: var(--jarl-colors-gray-900);
      --jarl-button-focus-outline-color: var(--jarl-colors-gray-50);
    }

    .anchor {
      &:has(.github-icon) {
        color: var(--jarl-colors-gray-300);

        &:hover,
        &:active {
          color: var(--jarl-colors-gray-100);
        }
      }
    }
  }
}

:root[data-theme="dark"] {
  .anchor {
    &:has(.github-icon) {
      color: var(--jarl-colors-gray-300);

      &:hover,
      &:active {
        color: var(--jarl-colors-gray-100);
      }
    }
  }
}
