.sidebar {
  flex-shrink: 0;
  width: 13.75rem;
  margin-block-start: 1.5rem;
  border-right: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));

  .sidebar__content {
    position: sticky;
    top: calc(var(--jarl-header-height) + 1.5rem);
    display: grid;

    .sidebar__sections {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 0;
      margin: 0;
      list-style: none;

      .sidebar__item {
        padding: 0.75rem 0.75rem 0;

        .sidebar__item-title {
          font-size: 0.875rem;
          font-weight: bold;
          text-transform: uppercase;
        }

        .sidebar__subsections {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          padding: 0;
          margin-block-start: 0.5rem;
          list-style: none;

          .sidebar__subsection-item {
            padding: 0.25rem 0.25rem 0.25rem 0.625rem;
            font-size: 0.875rem;

            .sidebar__subsection-item-link {
              text-decoration: none;
            }

            &.sidebar__subsection-item--active {
              font-weight: bold;
              border-left: 2px solid
                light-dark(var(--jarl-colors-blue-500), var(--jarl-colors-blue-300));

              .sidebar__subsection-item-link {
                color: light-dark(var(--jarl-colors-blue-500), var(--jarl-colors-blue-300));
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 56.25rem) {
  .sidebar {
    display: none;
  }
}
