.jarl-input {
  position: relative;
  display: flex;
  flex: 1;
  gap: var(--jarl-input-gap, 0.25rem);
  align-items: center;
  height: var(--jarl-input-height, 2.5rem);
  overflow: hidden;
  background-color: var(--jarl-input-bg, #fff);
  border-color: var(--jarl-input-border-color, #888);
  border-style: var(--jarl-input-border-style, solid);
  border-width: var(--jarl-input-border-width, 1px);
  border-radius: var(--jarl-input-radius, 0.25rem);

  &[aria-disabled="true"] {
    color: var(--jarl-input-disabled-color, #111);
    cursor: not-allowed;
    opacity: var(--jarl-input-disabled-opacity, 0.5);

    &:has(.jarl-input__field:focus-visible) {
      outline: var(--jarl-input-focus-outline-width, 2px)
        var(--jarl-input-focus-outline-style, solid) var(--jarl-input-focus-outline-color, #111);
      outline-offset: var(--jarl-input-focus-outline-offset, 4px);
    }

    > * {
      pointer-events: none;
    }
  }

  &[aria-disabled="false"],
  &:not([aria-disabled]) {
    &:has(.jarl-input__field:focus-visible) {
      outline: var(--jarl-input-focus-outline-width, 2px)
        var(--jarl-input-focus-outline-style, solid) var(--jarl-input-focus-outline-color, #111);
      outline-offset: var(--jarl-input-focus-outline-offset, 4px);
    }
  }

  &:has(.jarl-input__field[aria-invalid="true"]) {
    background-color: var(--jarl-input-invalid-bg, #fff);
    border-color: var(--jarl-input-invalid-border-color, #e73333);
  }

  &:has(.jarl-input__field:read-only) {
    background-color: var(--jarl-input-readonly-bg, #eee);
    border-color: var(--jarl-input-readonly-border-color, #888);
  }

  .jarl-input__field {
    display: inline-flex;
    width: 100%;
    padding-block: var(--jarl-input-py, 0.375rem);
    padding-inline: var(--jarl-input-px, 0.75rem);
    margin: 0;
    color: var(--jarl-input-color, #333);
    caret-color: var(--jarl-input-caret-color, #888);
    outline: none;
    background-color: transparent;
    border: none;

    &:placeholder-shown {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--jarl-input-placeholder-color, #333);
      white-space: nowrap;
    }

    &:read-only {
      color: var(--jarl-input-readonly-color, #333);
      cursor: default;
    }

    &[aria-invalid="true"] {
      color: var(--jarl-input-invalid-color, #e73333);
    }
  }
}
