.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 60px;
  background-color: light-dark(var(--jarl-colors-gray-50), var(--jarl-colors-gray-950));
  border-top: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));

  .footer-container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;

    .footer-paragraph {
      margin: 0;
      font-size: 0.75rem;
      color: light-dark(var(--jarl-colors-gray-600), var(--jarl-colors-gray-200));

      .footer-text {
        display: inline-flex;
        gap: 0.25rem;
        align-items: center;

        .footer-owner {
          color: light-dark(var(--jarl-colors-gray-600), var(--jarl-colors-gray-200));
          text-decoration: underline;
        }

        .heart-icon {
          width: 1rem;
          height: 1rem;
          fill: var(--jarl-colors-red-400);
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .footer {
    .footer-container {
      padding: 0 24px;
    }
  }
}

@media (min-width: 1440px) {
  .footer {
    .footer-container {
      max-width: 1440px;
    }
  }
}
