.footer {
  align-items: center;
  background-color: light-dark(var(--jarl-colors-gray-50), var(--jarl-colors-gray-950));
  border-top: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));
  display: flex;
  justify-content: flex-start;
  min-height: 60px;
  width: 100%;

  .container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;

    .footer-paragraph {
      color: light-dark(var(--jarl-colors-gray-600), var(--jarl-colors-gray-200));
      margin: 0;
      font-size: 0.75rem;

      .footer-text {
        align-items: center;
        display: inline-flex;
        gap: 0.25rem;

        .footer-owner {
          color: light-dark(var(--jarl-colors-gray-600),  var(--jarl-colors-gray-200));
          text-decoration: underline;
        }

        .heart-icon {
          fill: var(--jarl-colors-red-400);
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
