.jarl-input-container {
  position: relative;
  display: flex;
  padding-block: var(--jarl-input-py, 0.375rem);
  padding-inline: var(--jarl-input-px, 0.75rem);
  overflow: hidden;
  background-color: var(--jarl-input-bg, #fff);
  border-color: var(--jarl-input-border-color, #888);
  border-style: var(--jarl-input-border-style, solid);
  border-width: var(--jarl-input-border-width, 1px);
  border-radius: var(--jarl-input-radius, 0.25rem);

  &[aria-disabled="true"] {
    color: var(--jarl-input-disabled-color, #111);
    cursor: not-allowed;
    opacity: var(--jarl-input-disabled-opacity, 0.5);

    &:focus-visible {
      outline: var(--jarl-input-focus-outline-width, 2px)
        var(--jarl-input-focus-outline-style, solid) var(--jarl-input-focus-outline-color, #111);
      outline-offset: var(--jarl-input-focus-outline-offset, 4px);
    }

    > * {
      pointer-events: none;
    }
  }

  &[aria-disabled="false"],
  &:not([aria-disabled]) {
    &:focus-within {
      outline: var(--jarl-input-focus-outline-width, 2px)
        var(--jarl-input-focus-outline-style, solid) var(--jarl-input-focus-outline-color, #111);
      outline-offset: var(--jarl-input-focus-outline-offset, 4px);
    }
  }

  .jarl-input {
    display: inline-flex;
    width: 100%;
    margin: 0;
    caret-color: var(--jarl-input-caret-color, #888);
    outline: none;
    background-color: transparent;
    border: none;

    &:placeholder-shown {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
