.jarl-modal__footer {
  display: flex;
  gap: var(--jarl-modal-footer-gap, 0.5rem);
  align-items: center;
  justify-content: flex-end;
  padding-block: var(--jarl-modal-footer-py, 0.25rem 0.5rem);
  padding-inline: var(--jarl-modal-footer-px, 1rem);
}
