:root {
  --jarl-header-height: 64px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 101;
  height: var(--jarl-header-height);
  background-color: light-dark(var(--jarl-colors-gray-50), var(--jarl-colors-gray-950));
  border-bottom: 1px solid light-dark(var(--jarl-colors-gray-100), var(--jarl-colors-gray-800));
}
