[data-theme="dark"] {
  --jarl-button-bg: var(--jarl-colors-blue-500);
  --jarl-button-border-color: var(--jarl-colors-blue-600);
  --jarl-button-color: var(--jarl-colors-white);
  --jarl-button-hover-color: var(--jarl-colors-white);
  --jarl-button-hover-bg: var(--jarl-colors-blue-600);
  --jarl-button-active-color: var(--jarl-colors-white);
  --jarl-button-active-bg: var(--jarl-colors-blue-700);
  --jarl-button-disabled-color: var(--jarl-colors-white);
  --jarl-button-focus-outline-color: var(--jarl-colors-blue-400);
}
